.circular--portrait {
    width: 150px;
    height: 150px;
    overflow: hidden;
    border-radius: 50%;
    margin-left: auto;
    margin-right: auto;
}

.circular--portrait img {
    width: 100%;
    height: auto;
}